@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-samsung-blue: #034EA2;
  --color-samsung-dark: #141414;
  --color-samsung-gray: #F4F4F4;
}

@layer base {
  body {
    @apply font-sans bg-white text-samsung-dark;
  }
}
